/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}.pane-menu-float{
    -fx-background-color: linear-gradient(to right, rgb(125, 68, 144), rgb(159, 72, 115));
    -fx-text-fill: white;
}

.pane-menu{
    -fx-background-color: linear-gradient(to right, rgb(125, 68, 144), rgb(238, 132, 180), rgb(159, 72, 115));
    -fx-background-radius:50;
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , #ff33ff , 15, 0.0 , 0 , 3 );

}
.text-field-login{
    -fx-focus-color: pink;
    -fx-background-radius: 15 15 15 15;
    -fx-border-radius: 15 15 15 15;
}
.btn-cancel-menu{
    -fx-background-color: linear-gradient(to right, rgb(100, 68, 200), rgb(130, 72, 115));
    -fx-font: monospace;
    -fx-text-fill: aquamarine;
    -fx-alignment: CENTER;
}
.label{
    -fx-text-fill: black;



}.mensage{
    
    -fx-text-fill: white;
    

}.border{

    -fx-background-color: aliceblue;
    -fx-background-radius:4;
    -fx-text-fill: black;
    -fx-font-size: 12pt;
    -fx-text-alignment: center;
    -fx-base: rgb(122, 145, 47);


}.tem{
    -fx-background-color: linear-gradient(to right, rgb(100, 68, 200), rgb(130, 72, 115))

}.border_style{


    -fx-border-color: blueviolet;
    -fx-border-radius:2pt;
}.fonte{
    
    -fx-font-size:13pt;
    -fx-font:monospace; 
    -fx-text-alignment: right;
}.grad-repeat{
   -fx-background-color: radial-gradient(focus-angle 45deg , focus-distance 20% , center 25% 25% , radius 50% , reflect, grey, #a9a9a9 75% , #696969);
}